################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASP.net Core Course (ToDoList-console)/.vs
/ToDolistMVC/.vs
