@model List<TaskItem>

<h2>Task List</h2>
<a href="/AddTask" class="btn btn-warning">Add Task</a>
<table class="table">
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Due Date</th>
            <th>Task Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            string classCss = task.IsCompleted ? "text-decoration-line-through" : "text-success";
            int index = Model.IndexOf(task);

            <tr>
                <td class="@classCss">@task.Title</td>
                <td class="@classCss">@task.DueDate.ToShortDateString()</td>
                <td>
                    @if (!task.IsCompleted)
                    {
                        <a href="/CompleateTask/@index" class="btn btn-success">Compleate Task</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    <script>
        $(document).ready(function(){
                $(".nav-link").removeClass("active");
                let nav=$(".nav-link")[1];
                $(nav).addClass("active");
        });
    </script>
}
