@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@section Scripts {
    <script>
        $(document).ready(function(){
                $(".nav-link").removeClass("active");
                let nav=$(".nav-link")[2];
                $(nav).addClass("active");
        });
    </script>
}
